{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft": "Warning",
      "Microsoft.Hosting.Lifetime": "Information"
    }
  },
  "ConnectionStrings": {
    "PgDatabase": "Server=localhost; Port=5432; Database=postgres;Username=postgres; Password=CoreDatabase;"
  }
}
