{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft": "Warning",
      "Microsoft.Hosting.Lifetime": "Information"
    }
  },
  "ConnectionStrings": {
    "PgDatabase": "Host=127.0.0.1;Port=5433;Database=cen4010;Username=school;Password=school"
  }
}
